body {
  /* font-family: "Playfair Display", serif; */
  font-family: "Mukta", sans-serif;
  font-size: 16px;
}
body ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
body a {
  text-decoration: none;
}
body .container {
  max-width: 80%;
}

.application-form {
  padding-top: 300px;
}
.application-form h1 {
  text-align: center;
  font-size: 30px;
  color: #0f383b;
  font-weight: bold;
  margin-bottom: 30px;
}
.application-form form {
  position: relative;
  background-color: #f5f5f5;
  padding: 200px 100px;
  box-sizing: border-box;
  border-top: 60px solid #ffa000;
  border-right: 40px solid #ffa000;
  border-left: 40px solid #ffa000;
}
.application-form form .form-upper-img,
.application-form form .form-bottom-img {
  position: absolute;
}
.application-form form .form-upper-img {
  top: -154px;
  left: 50%;
  transform: translate(-50%);
}
.application-form form .form-upper-img img {
  width: 90%;
}
.application-form form .form-bottom-img {
  bottom: 0px;
  right: -400px;
  transform: translate(-50%);
}
.application-form form .form-bottom-img img {
  width: 80%;
}
.application-form form .passport-wrapper, .application-form form .passout-wrapper {
  display: flex;
  align-items: center;
}
.application-form form .passport-wrapper label[for=checkbox], .application-form form .passout-wrapper label[for=checkbox] {
  margin-right: 20px;
}
.application-form form .basic-details label,
.application-form form .ssc-qualification label,
.application-form form .hsc-qualification label,
.application-form form .neet-qualification label {
  text-transform: capitalize;
  color: #175559;
  font-size: 16px;
  font-weight: bold;
}
.application-form form .basic-details .error,
.application-form form .ssc-qualification .error,
.application-form form .hsc-qualification .error,
.application-form form .neet-qualification .error {
  visibility: hidden;
  opacity: 0;
  color: red;
  font-size: 14px;
  margin-bottom: 3px;
  font-weight: normal;
}
.application-form form .basic-details input,
.application-form form .ssc-qualification input,
.application-form form .hsc-qualification input,
.application-form form .neet-qualification input {
  border: 2px solid #c0c0c0;
  width: 100%;
  height: 35px;
  background-color: #fff;
}
.application-form form .basic-details select,
.application-form form .ssc-qualification select,
.application-form form .hsc-qualification select,
.application-form form .neet-qualification select {
  border: 2px solid #c0c0c0;
  width: 100%;
  height: 35px;
  background-color: #fff;
  color: #175559;
  font-size: 16px;
  font-weight: bold;
}
.application-form form .basic-details input[type=radio],
.application-form form .ssc-qualification input[type=radio],
.application-form form .hsc-qualification input[type=radio],
.application-form form .neet-qualification input[type=radio] {
  border: 2px solid #c0c0c0;
  width: 20px;
  border: 1px solid #000;
  margin-right: 10px;
}
.application-form form .basic-details .checkbox-wrapper,
.application-form form .ssc-qualification .checkbox-wrapper,
.application-form form .hsc-qualification .checkbox-wrapper,
.application-form form .neet-qualification .checkbox-wrapper {
  border: 1px solid #000;
  /* #checkbox {
      position: absolute;
      top: 0px;
      left: 0px;
      label {
          margin-top: 5px;
          margin-left: 30px;
      }
  } */
}
.application-form form .ssc-qualification h2,
.application-form form .hsc-qualification h2,
.application-form form .neet-qualification h2 {
  text-align: center;
  font-size: 30px;
  color: #0f383b;
  font-weight: bold;
  margin-top: 40px;
}
.application-form form .ssc-qualification h3,
.application-form form .hsc-qualification h3,
.application-form form .neet-qualification h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #0f383b;
  font-weight: bold;
  margin-bottom: 10px;
}
.application-form form .ssc-qualification select,
.application-form form .hsc-qualification select,
.application-form form .neet-qualification select {
  border: 2px solid #c0c0c0;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}
.application-form form .submit-button {
  text-align: center;
  margin-top: 20px;
}
.application-form form .submit-button button {
  padding: 3px 35px;
  border-radius: 20px;
  background-color: #0f383b;
  color: #fec407;
  font-size: 18px;
}

.application-form1 {
  display: none;
}

.top-header .currency-exchange {
  display: none;
}

@media only screen and (max-width: 991px) {
  .application-form form {
    padding: 100px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .application-form form {
    padding: 100px 20px;
  }
}
@media only screen and (max-width: 567px) {
  .application-form form {
    border-top: 10px solid #ffa000;
    border-right: 8px solid #ffa000;
    border-left: 8px solid #ffa000;
  }
  body .container {
    max-width: 95%;
  }
  .application-form form .form-upper-img img {
    display: none;
  }
  .application-form {
    margin-top: 150px;
  }
}/*# sourceMappingURL=application-form.css.map */