body {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
}

.home {
  overflow: hidden;
  position: relative;
  padding-top: 40vh;
  height: 100vh;
  background: url(../../public/images/home-bg.svg);
  background-position: center;
  background-size: cover;
}
.home .home-banner-heading h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0f383b;
  line-height: 50px;
}
.home .home-banner-heading p {
  font-size: 18px;
  color: #175559;
  margin-bottom: 40px;
}
.home .home-banner-heading a {
  background-color: #fec407;
  padding: 12px 40px;
  color: #175559;
  font-weight: bold;
}
.home .home-banner-heading .absolute-position {
  position: absolute;
  bottom: 300px;
  left: 100px;
  z-index: 9;
}
.home .home-banner-heading .left-plan-img {
  top: 305px;
  left: -7%;
  width: 90px;
  transform: translate(40%);
}
.home .home-banner-heading .ballon-left {
  top: 35px;
  left: 18%;
  width: 80px;
  transform: translate(100%);
}
.home .home-banner-heading .ballon-bottom {
  top: 40px;
  left: 30%;
  width: 80px;
  transform: translate(-100%);
}
.home .home-banner-heading .ellipse {
  top: 600px;
  left: 54%;
  width: 90px;
}
.home .home-banner-heading .tild-building {
  bottom: -6px;
  left: 55%;
  width: 110px;
  height: 100px;
}
.home .home-banner-heading .tower {
  bottom: -6px;
  left: 39%;
  width: 280px;
  height: 50px;
  transform: translate(100%);
}
.home .home-banner-heading .right-plan-img {
  top: 17%;
  left: 85%;
  width: 90px;
  transform: translate(100%);
}
.home .home-banner-heading .ballon-right {
  top: 3%;
  left: 85%;
  width: 90px;
  transform: translate(100%);
}
.home .home-banner-heading .wonders {
  bottom: -6px;
  left: 64%;
  width: 270px;
  height: 50px;
  transform: translate(100%);
}
.home .home-banner-heading .statue {
  bottom: -6px;
  left: 66%;
  width: 140px;
  height: 50px;
  transform: translate(100%);
}
.home .home-banner-heading .left-plan-img2 {
  width: 90px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 9;
}
.home .home-banner-heading .right-plan-img2 {
  width: 90px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 9;
}

.about {
  padding-top: 50px;
  margin-bottom: 20px;
}
.about .about-us-gif img {
  max-width: 100%;
}
.about .about-us-contant h2,
.about .out-story-contant h2 {
  color: #0f383b;
  font-weight: bold;
}
.about .about-us-contant p,
.about .out-story-contant p {
  text-align: justify;
  color: #4d4d4d;
  line-height: 28px;
}

.facilities {
  background-color: #0f383b;
  padding: 60px 0px;
}
.facilities .facilites-heading {
  padding-bottom: 30px;
}
.facilities .facilites-heading h2 {
  color: #fff;
  font-weight: bold;
}
.facilities .facilitiy {
  position: relative;
  color: #fff;
  padding-left: 60px;
  margin-bottom: 40px;
}
.facilities .facilitiy img {
  width: 40px;
  top: 0px;
  left: 0px;
  position: absolute;
}
.facilities .facilitiy h3 {
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  color: #fec407;
}
.facilities .facilitiy p {
  line-height: 28px;
}
.facilities .end-paragraph p,
.facilities .end-paragraph a {
  color: #fff;
}

.services {
  background-color: #eee;
  padding-top: 20px;
}
.services .services-heading {
  padding: 50px 0px;
}
.services .services-heading h2 {
  text-transform: uppercase;
  color: #0f383b;
  font-weight: bold;
}
.services .services-card {
  position: relative;
  top: 0px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}
.services .services-card .services-card-heading {
  display: flex;
  align-items: center;
}
.services .services-card .services-card-heading h3 {
  padding-left: 20px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #4d4d4d;
  position: relative;
  /* &::after {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translate(-50%);
      width: 100px;
      background-color: $button-bg-color;
      content: "";
      height: 2px;
  } */
}
.services .services-card .services-card-heading img {
  width: 100px;
}
.services .services-card p {
  margin-top: 20px;
  padding: 0px 10px;
  overflow: hidden;
  height: 100px;
  color: #175559;
  line-height: 26px;
  text-align: justify;
}
.services .services-card:hover {
  transition: all 0.3s ease;
  top: -10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.features {
  padding-top: 60px;
}
.features .services-heading {
  margin-bottom: 40px;
}
.features .services-heading h2 {
  text-transform: uppercase;
  color: #0f383b;
  font-weight: bold;
}
.features .feature-list ul li {
  color: #4d4d4d;
  font-size: 16px;
  margin-bottom: 10px;
}
.features .feature-list ul li i {
  margin-right: 20px;
  font-size: 20px;
}
.features .feature-img img {
  max-width: 100%;
  width: 80%;
  margin-top: -50px;
}

.logs {
  background-color: #eee;
  padding: 50px 0px;
  /* font-family: "Cinzel", serif; */
}
.logs .year-of-exprience,
.logs .countries,
.logs .universities,
.logs .students {
  text-align: center;
}
.logs .year-of-exprience .number,
.logs .countries .number,
.logs .universities .number,
.logs .students .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}
.logs .year-of-exprience p,
.logs .countries p,
.logs .universities p,
.logs .students p {
  font-size: 16px;
}
.logs .year-of-exprience .plus-icon,
.logs .countries .plus-icon,
.logs .universities .plus-icon,
.logs .students .plus-icon {
  font-size: 30px;
}

.countries-we-served {
  margin-top: 80px;
  margin-bottom: 10px;
}
.countries-we-served .countries-we-served-heading {
  margin: 40px 0px;
}
.countries-we-served .countries-we-served-heading h2 {
  text-transform: uppercase;
  color: #0f383b;
  font-weight: bold;
}
.countries-we-served .countries-img {
  position: relative;
  overflow: hidden;
}
.countries-we-served .countries-img img {
  width: 100%;
}
.countries-we-served .countries-img .countries-flag {
  position: absolute;
  transition: all 0.4s ease;
  top: 100%;
  width: 100%;
  left: 0px;
}
.countries-we-served .countries-img .countries-flag img {
  width: 100%;
}
.countries-we-served .countries-img .countries-flag h2 {
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  text-shadow: 4px 4px 4px #175559;
  font-weight: bold;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.countries-we-served .countries-img:hover .countries-flag {
  top: 0px;
  transition: all 0.4s ease;
}
.countries-we-served .countries-img2 .countries-flag h2 {
  color: #fff;
}
.countries-we-served .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 25px;
}
.countries-we-served .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

.avilable-in-countries {
  margin-bottom: 50px;
  margin-top: 80px;
}
.avilable-in-countries .details-about-countries h2 {
  text-transform: uppercase;
  color: #4d4d4d;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
.avilable-in-countries .details-about-countries h2::after {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 150px;
  background-color: #fec407;
  content: "";
  height: 1px;
}
.avilable-in-countries .details-about-countries p {
  height: 200px;
  overflow: hidden;
  color: #4d4d4d;
  line-height: 25px;
}
.avilable-in-countries .details-about-countries a {
  display: block;
  margin-bottom: 10px;
}
.avilable-in-countries .countries-img img {
  width: 100%;
}
.avilable-in-countries .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px;
}
.avilable-in-countries .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

.testimonials {
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #eee;
}
.testimonials .testimonials-heading {
  margin-bottom: 45px;
}
.testimonials .testimonials-heading h2 {
  color: #4d4d4d;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.testimonials .testimonials-heading h2::after {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 150px;
  background-color: #fec407;
  content: "";
  height: 1px;
}
.testimonials .testimonial-card {
  position: relative;
  padding: 50px 20px 20px 20px;
  border: 1px solid rgb(180, 175, 175);
  border-radius: 10px;
}
.testimonials .testimonial-card img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  border-radius: 50%;
}
.testimonials .testimonial-card .student-name {
  padding-left: 70px;
  color: #4d4d4d;
  font-weight: 600;
  height: auto;
}
.testimonials .testimonial-card span {
  display: inline-block;
  margin-top: 15px;
  /*   font-family: "Ubuntu", sans-serif; */
  font-weight: bold;
  color: #4d4d4d;
}
.testimonials .testimonial-card p {
  color: #175559;
  line-height: 25px;
  overflow: hidden;
  height: 100px;
}
.testimonials .testimonial-card a i {
  font-size: 12px;
  margin-left: 10px;
}
.testimonials .owl-carousel .owl-nav {
  background-color: red;
  display: block;
  position: absolute;
  top: 100px;
  width: 100%;
}
.testimonials .owl-carousel .owl-nav .owl-prev {
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  left: -50px;
  font-size: 30px;
}
.testimonials .owl-carousel .owl-nav .owl-next {
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  right: -50px;
  font-size: 30px;
}

.policies {
  position: relative;
  margin-top: 100px;
}
.policies .testimonials-heading {
  margin-bottom: 30px;
}
.policies .testimonials-heading h2 {
  color: #175559;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.policies .points {
  padding-right: 40px;
}
.policies .points ul li {
  position: relative;
  padding-left: 40px;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 28px;
  margin-bottom: 20px;
}
.policies .points ul li i {
  position: absolute;
  top: 5px;
  left: 0px;
  color: #4d4d4d;
  font-size: 20px;
}
.policies .policies-img {
  position: absolute;
  width: 380px;
  right: 0px;
  bottom: -100px;
}
.policies .policies-img img {
  width: 100%;
}

.blog {
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #eee;
}
.blog .blog-heading {
  margin-bottom: 45px;
}
.blog .blog-heading h2 {
  color: #4d4d4d;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.blog .blog-card {
  background-color: #175559;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  color: #eee;
}
.blog .blog-card span {
  font-size: 16px;
  color: #eee;
}
.blog .blog-card p {
  color: #eee;
  margin-top: 25px;
  margin-bottom: 0px;
}
.blog .blog-card p i {
  margin-right: 15px;
}
.blog .owl-carousel .owl-nav {
  display: none;
  background-color: red;
  position: absolute;
  top: 50px;
  width: 100%;
}
.blog .owl-carousel .owl-nav .owl-prev {
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  left: -50px;
  font-size: 30px;
}
.blog .owl-carousel .owl-nav .owl-next {
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  right: -50px;
  font-size: 30px;
}

.top-header .currency-exchange {
  display: none;
}

@media only screen and (max-width: 862px) {
  header {
    top: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .home .home-banner-heading h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .home .home-banner-heading h1 {
    font-size: 30px;
  }
  .home .home-banner-heading .ballon-bottom {
    left: 45%;
  }
  .home .home-banner-heading .ellipse {
    top: 600px;
    left: 54%;
    width: 90px;
  }
  .home .home-banner-heading .tild-building {
    top: 95%;
  }
}
@media only screen and (max-width: 767px) {
  header nav .website-logo a img {
    width: 100px;
  }
  header {
    top: 75px;
  }
  .home .home-banner-heading h1 {
    font-size: 30px;
  }
  .home .home-banner-heading .ballon-bottom {
    left: 55%;
  }
  .home .home-banner-heading .ellipse {
    display: none;
  }
  .home .home-banner-heading .statue {
    left: 50%;
  }
  header .top-header .top-header-right-section .login-details ul {
    justify-content: start;
  }
  header nav .nav-social-icons ul {
    margin-top: -60px;
    margin-left: 90px;
    justify-content: end;
  }
  header nav .nav-social-icons ul li a i {
    padding: 0 10px;
  }
  header nav .nav-bar-tabs {
    position: absolute;
    top: 72px;
    right: -200px;
    z-index: 99999;
    background-color: #0f383b;
    width: 200px;
    padding-bottom: 20px;
  }
  header nav .nav-bar-tabs ul {
    flex-direction: column;
  }
  header nav .nav-bar-tabs ul li {
    text-align: center;
    margin-top: 20px;
  }
  header nav .nav-bar-tabs ul li a {
    color: #fff;
  }
  header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
    top: -70px;
    left: -150;
  }
  header nav .nav-bar-tabs ul .countries-tab .countries-list {
    left: -10%;
  }
  header nav .nav-bar-tabs ul li {
    margin-top: 10px;
  }
  .nav-sidebar-button,
.nav-close-button {
    display: block;
  }
  .policies .policies-img img {
    display: none;
  }
  /* .countries-we-served {
      display: none;
  } */
  footer .bottom-footer .rights p {
    text-align: center;
  }
}
@media only screen and (max-width: 567px) {
  header nav .website-logo a img {
    width: 100px;
  }
  .home .home-banner-heading h1 {
    font-size: 25px;
  }
  .home .home-banner-heading h1 br {
    display: none;
  }
  .footer-connecting-links,
.footer-contact-address,
.footer-newslatter {
    margin-top: 30px;
  }
  .home .tild-building {
    display: none;
  }
  .home .tower {
    display: none;
  }
  .home .wonders {
    display: none;
  }
  .home .statue {
    display: none;
  }
  header nav .nav-social-icons ul {
    margin-top: -60px;
    margin-right: 100px;
  }
  .home .home-banner-heading .ballon-bottom {
    left: 90%;
  }
}
@media only screen and (max-width: 516px) {
  header {
    top: 38px;
  }
  .top-header .top-header-left-section {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  header nav .nav-social-icons ul {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 377px) {
  header {
    top: 60px;
  }
}
@media only screen and (max-width: 1100px) {
  .services .services-card .services-card-heading h3 {
    padding-left: 15px;
  }
  .services .services-card .services-card-heading img {
    width: 70px;
  }
}/*# sourceMappingURL=index.css.map */