$primary-bg-color: #175559;
$heading-primary-color: #0f383b;
$text-color: #175559;
$text-color2: #4d4d4d;
$button-bg-color: #fec407;

.mode {
    
    background-color: $heading-primary-color;
    color: #fff;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span {
        color: #fff;
    }
    #currency-convertor {
        background-color: #000;
        color: #fff;
    }
    #finalAmount h2 {
        color: #fff;
    }
    .nav-sidebar-button i {
        color: #000;
    }
    .home {
        
        background: rgb(15, 56, 59);
        background: radial-gradient(circle, rgba(15, 56, 59, 0.9948354341736695) 41%, rgba(0, 0, 0, 1) 100%);
        h1,
        p {
            color: #fff;
        }
    }
    .about .about-us-gif img {
        max-width: 100%;
        background: radial-gradient(circle, rgba(15, 56, 59, 0.9948354341736695) 41%, rgba(0, 0, 0, 1) 100%);
        border-radius: 50%;
    }
    .about .about-us-contant h2,
    .about .out-story-contant h2 {
        color: #fff;
    }
    .about .about-us-contant p,
    .about .out-story-contant p {
        color: #fff;
    }
    .services {
        background-color: $heading-primary-color;
    }
    .services .services-heading h2 {
        color: #fff;
    }
    .facilities {
        background-color: #000;
    }
    .services .services-card {
        background-color: $primary-bg-color;
    }
    .services .services-card h3,
    .services .services-card p {
        color: #fff;
    }
    .features .services-heading h2,
    .features .feature-list ul li {
        color: #fff;
    }
    .logs {
        background-color: $primary-bg-color;
        p,
        .plus-icon,
        .number {
            color: #fff;
        }
    }
    .countries-we-served .countries-we-served-heading h2 {
        color: #fff;
    }
    .avilable-in-countries {
        .details-about-countries {
            h2,
            p {
                color: #fff;
            }
        }
    }
    .policies {
        h2 {
            color: #fff;
        }
        .points {
            ul {
                li {
                    color: #fff;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    .blog {
        background-color: $primary-bg-color;
        h2 {
            color: #fff;
        }
    }

    .blog .blog-card {
        background-color: $heading-primary-color;
    }
    #footer {
        ul {
            li {
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
        h2,
        h3,
        p {
            color: #fff;
        }
    }
    .bottom-footer {
        background-color: #000;
    }
    .top-header .day-night-mode .night-mode i,
    .top-header .day-night-mode .day-mode i {
        color: #000;
    }

    .about-us .about-us-discription h1,
    .about-us .about-us-discription p,
    .about-us .about-us-discription h2 {
        color: #fff;
    }
    .our-services {
        background-color: #000;
        h2 {
            color: #fff;
        }
    }
    .services {
        padding: 5px;
        border-radius: 5px;
    }
    .gallery {
        background-color: $primary-bg-color;
    }
    .our-missions {
        background-color: $primary-bg-color;
    }
    .gallery h1,
    .contact-us h2,
    .about .about-discription h2,
    .universities-in-russia .heading h2,
    .gallery .heading h2,
    .universities-in-russia .universities-name ul li a {
        color: #fff;
    }
    .fee-strucutre table,
    .fee-strucutre th,
    .fee-strucutre td {
        border: 1px solid #fff;
    }
    .gallery h3 {
        color: #fff;
    }
    .student-login .student-login-form form .username label,
    .student-login .student-login-form form .password label {
        color: #fff;
    }
    .student-login .student-login-form form .username input,
    .student-login .student-login-form form .password input {
        border-bottom: 2px solid #fff;
    }
    .student-login .student-login-form form .username input:focus,
    .student-login .student-login-form form .password input:focus {
        background: $button-bg-color;
    }
    .advantages {
        background-color: #000;
    }
    .application-form {
        background-color: $primary-bg-color;
    }
    .services .services-card .services-card-heading h3 {
        color: #fff;
    }
    header nav .nav-bar-tabs ul li {      
        color: #000;
      }
      .universities-in-russia .universities-name ul li i {
        color: $button-bg-color;
    }
}







html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    /*    font-family: "Playfair Display", serif; */
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    ul {
        margin-bottom: 0px;
        padding-left: 0px;
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .container {
        max-width: 90%;
    }
}

.become-our-partner,
.application-form1 {
    position: fixed;
    right: -54px;
    top: 280px;
    z-index: 999;
    font-weight: bold;
    color: $button-bg-color;
    background-color: $heading-primary-color;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    transform: rotate(-90deg);
    transition: all 0.4s ease;
    opacity: 0.9;
    &:hover {
        color: $heading-primary-color;
        background-color: $button-bg-color;
        transition: all 0.4s ease;
    }
}
.application-form1 {
    top: 450px;
    right: -55px;
}
.nav-sidebar-button {
    position: absolute;
    top: 22px;
    right: 25px;
    display: none;
    cursor: pointer;
    i {
        font-size: 30px;
    }
}

.nav-close-button {
    z-index: 999999;
    position: absolute;
    top: 75px;
    right: -25px;
    display: none;
    cursor: pointer;
    i {
        font-size: 50px;
        color: #fff;
        font-weight: lighter;
    }
}

#translator {
    position: fixed;
    z-index: 9999;
    bottom: -20px;
    right: 0px;
    display: inline-block;
    // background-color: $text-secondary-color;
    padding: 5px 7px 5px 10px;
}
.top-header {
    background-color: $primary-bg-color;
    .top-header-left-section,
    .top-header-right-section {
        .contact-details,
        .login-details {
            ul {
                justify-content: space-between;
                li {
                    cursor: pointer;
                    padding: 8px 0px;
                    margin-right: 25px;
                    a {
                        font-size: 13px;
                        font-family: var(--bs-body-font-family);
                        color: #fff;
                        /* font-family: "Ubuntu", sans-serif; */
                        i {
                            margin-right: 5px;
                        }
                    }
                    span {
                        font-size: 13px;
                        /* font-family: "Ubuntu", sans-serif; */
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .day-night-mode {
        display: inline-block;
        position: relative;
        cursor: pointer;
        position: relative;
        background-color: yellow;
        .night-mode,
        .day-mode {
            i {
                font-size: 16px;
            }
        }
        .day-mode {
            display: none;
        }
    }
}
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    .btn-search {
        border-style: none;
        font-size: 18px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: transparent;
        pointer-events: painted;
        i {
            font-size: 14px;
        }
        &:focus ~ .input-search {
            width: 300px;
            font-family: "Mukta", sans-serif;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
        }
    }
    .input-search {
        width: 1px;
        height: 25px;
        border-style: none;
        padding: 0px 4px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
        /* background-color: #22a6b3; */
        background-color: transparent;
        padding-right: 25px;
        color: #fff;
        font-family: var(--bs-body-font-family);
        font-size: 13px;
        &:focus {
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
        }
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            letter-spacing: 2px;
            font-weight: 100;
        }
    }
}

header {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 38px;
    left: 0px;
    nav {
        padding: 10px 0px;
        z-index: 999;
        height: 150px;
        background: url(../../public/images/header-bg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 80%;
        .nav-sidebar {
            cursor: pointer;
            i {
                font-size: 30px;
            }
        }
        .website-logo {
            a {
                img {
                    margin-left: 50px;
                    width: 60%;
                }
            }
        }
        .nav-bar-tabs {
            ul {
                justify-content: space-around;
                li {
                    cursor: pointer;
                    font-size: 13px;
                    /* font-family: "Ubuntu", sans-serif; */
                    color: #000;
                    i {
                        margin-left: 5px;
                    }
                    a {
                        text-transform: uppercase;
                        cursor: pointer;
                        font-size: 13px;
                        /* font-family: "Ubuntu", sans-serif; */
                        color: #000;
                        i {
                            margin-left: 5px;
                        }
                    }
                }
                .countries-tab {
                    padding-bottom: 10px;
                    position: relative;
                    .countries-list {
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease;
                        position: absolute;
                        top: 100px;
                        width: 150px;
                        left: 50%;
                        transform: translate(-50%);
                        background-color: $heading-primary-color;
                        li {
                            a {
                                border-left: 4px solid $heading-primary-color;
                                transition: all 0.3s ease;
                                padding: 10px 20px;
                                // text-align: center;
                                display: block;
                                font-size: 13px;
                                /* ont-family: "Ubuntu", sans-serif; */
                                color: #fff;
                                &:hover {
                                    transition: all 0.3s ease;
                                    border-left: 4px solid $button-bg-color;
                                    background: $primary-bg-color;
                                }
                            }
                        }
                    }
                    &:hover {
                        .countries-list {
                            top: 30px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .nav-social-icons {
            ul {
                justify-content: space-evenly;
                li {
                    a {
                        i {
                            color: #000;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .fixed-nav-img {
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}

footer {
    border-top: 1px solid #eee;
    padding-top: 50px;
    .footer-logo {
        img {
            max-width: 80%;
        }
    }
    .footer-nav-links {
        ul {
            li {
                margin-bottom: 10px;
                a {
                    font-weight: bold;
                    font-size: 14px;
                    color: $text-color2;
                }
            }
        }
    }
    .footer-connecting-links,
    .footer-contact-address,
    .footer-newslatter {
        h2 {
            font-size: 14px;
            font-weight: bold;
            color: $text-color2;
        }

        ul {
            li {
                margin-bottom: 10px;
                color: $text-color2;
                font-weight: normal;
                opacity: 0.9;
                a {
                    color: $text-color2;
                    font-weight: normal;
                    opacity: 0.9;
                }
            }
        }
    }
    .footer-newslatter {
        p {
            color: $text-color2;
            font-weight: normal;
            opacity: 0.9;
        }
        form {
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            input {
                height: 40px;
                font-weight: bold;
                border: 1px solid $text-color;
                opacity: 0.9;
                border-radius: 5px;
                padding-left: 10px;
            }
            button {
                width: 100%;
                margin: 0 auto;
                /* position: absolute;
                top: 0px; */
                padding: 7px 20px 5px 20px;
                border-radius: 0px 5px 5px 0px;
                outline: none;
                border: 1px solid $primary-bg-color;
                background-color: $primary-bg-color;
                color: #fff;
            }
        }
    }
    .bottom-footer {
        padding: 30px 0px;
        padding-bottom: 35px;
        background: $heading-primary-color;
        .end-footer {
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                    color: #fff;
                    a {
                        color: #fff;
                        font-size: 16px;
                    }
                }
                
            }
        }
        /* .rights {
            position: relative;
            p {
                color: #fff;
                font-size: 16px;
                margin-bottom: 0rem;
            }
            .watermark {
                position: absolute;
                bottom: -30px;
                left: 0px;
                color: #fff;
                opacity: 0.5;
                a {
                    color: #fff;
                }
            }
        } */
    }
}
/* */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(2px);
}
.swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.top-header .day-night-mode {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 20px;
    z-index: 999999999;
    background: none;
    .night-mode i,
    .top-header .day-night-mode .day-mode i {
        font-size: 16px;
        color: yellow;
    }
}
.top-header .currency-exchange {
    cursor: pointer;
    display: none;
    position: absolute;
    position: fixed;
    bottom: 50px;
    right: 65px;
    width: 50px;
    z-index: 999999999;
    background: none;
    a {
        img {
            width: 100%;
        }
    }
}
.top-header .day-night-mode .night-mode i,
.top-header .day-night-mode .day-mode i {
    color: yellow;
}
.mode .top-header .day-night-mode .day-mode i {
    color: yellow;
    font-size: 16px;
}
@media only screen and (max-width: 1400px) {
    header nav {
        height: 130px;
    }
    header nav .website-logo a img {
        margin-left: 40px;
    }
}
/* @media only screen and (max-width: 1356px) {
    footer .footer-newslatter form button {
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 5px;
    }
} */

@media only screen and (max-width: 1200px) {
    header nav {
        height: 100px;
    }
    header nav .website-logo a img {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 1090px) {
    .search-box .btn-search {
        &:focus ~ .input-search {
            width: 200px;
        }
    }
    .search-box .input-search {
        &:focus{
            width: 200px;
        }
    }
}

@media only screen and (max-width: 991px) {
    
    .search-box .btn-search {
        &:focus ~ .input-search {
            width: 150px;
        }
    }
    .search-box .input-search {
        &:focus{
            width: 150px;
        }
    }
    footer .bottom-footer .end-footer ul {
        display: block;
        text-align: center;
    }
    
    
    /* footer .footer-newslatter form button {
        top: 0px;
        right: 0px;
    } */
    header nav .website-logo a img {
        margin-left: 25px;
    }
    .search-box .input-search:focus {
        width: 110px;
    }
}


@media only screen and (max-width: 925px) {
    .search-box{
        display: none;
    }
}


@media only screen and (max-width: 862px) {
    header {
        top: 38px;
    }
}

@media only screen and (max-width: 767px) {
    header nav .website-logo a img {
        width: 100px;
    }
    header {
        top: 75px;
    }
    header .top-header .top-header-right-section .login-details ul {
        justify-content: start;
    }
    header nav .nav-social-icons ul {
        margin-top: -60px;
        margin-left: 70px;
        justify-content: end;
        li a i {
            padding: 0 10px;
        }
    }
    header {
        nav {
            //103
            .nav-bar-tabs {
                position: absolute;
                top: 72px;
                right: -200px;
                z-index: 99999;
                background-color: $heading-primary-color;
                width: 200px;
                padding-bottom: 20px;
                // height: 500px;
                ul {
                    flex-direction: column;
                    li {
                        text-align: center;
                        margin-top: 20px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        top: -70px;
        left: -150;
    }
    header nav .nav-bar-tabs ul .countries-tab .countries-list {
        left: -10%;
    }
    header nav .nav-bar-tabs ul li {
        margin-top: 10px;
    }
    .nav-sidebar-button {
        display: block;
    }
    .nav-close-button {
        display: none;
        top: 22px;
        right: 25px;
    }
    footer .bottom-footer .rights p {
        text-align: center;
    }
    header nav .nav-social-icons ul {
        margin-right: 100px;
    }
    /* .top-header  .day-night-mode{
        position: absolute;
        top: 10px;
        right: 30px;
    } */
    header nav .nav-bar-tabs {
        position: fixed;
        top: -50px;
        right: -50px;
        width: 0vw;
        height: 0vh;
        border-radius: 0% 0% 0% 50vw;
        background: $heading-primary-color;
        z-index: 9999;
        transition: all 0.5s ease;
    }
    header nav .nav-bar-tabs ul {
        flex-direction: column;
        transition: all 0.4s ease;
        opacity: 1;
        height: 80vh;
        visibility: visible;
        margin-top: 100px;
        justify-content: center;
        align-items: flex-start;
        margin-left: 45vh;
    }

    header nav .nav-bar-tabs ul .countries-tab .countries-list {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        position: absolute;
        top: 100px;
        width: 150px;
        left: 60%;
        transform: translate(-50%);
    }
    header nav .nav-bar-tabs ul li {
        margin-bottom: 5vh;
    }
    header nav .nav-bar-tabs ul li {
        font-size: 30px;
        color: #fff;
    }
    header nav .nav-bar-tabs ul li a {
        font-size: 30px;
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        top: -300px;
        left: -85px;
    }
    header nav .nav-bar-tabs ul li {
        margin-bottom: 10px;
    }
    .top-header .day-night-mode {
        right: 35px;
        top: 10px;
    }
    header nav .website-logo a img {
        margin-left: 0px;
    }
  
}

@media only screen and (max-width: 785px) {
    .admission-process .admission-process-details .admission-card {       
        padding-top: 50px;
      }
}

@media only screen and (max-width: 567px) {
    header nav .website-logo a img {
        width: 100px;
    }
    .footer-connecting-links,
    .footer-contact-address,
    .footer-newslatter {
        margin-top: 30px;
    }
    header nav .nav-social-icons ul {
        margin-top: -60px;
        margin-right: 100px;
    }

    header nav .nav-bar-tabs ul {
        margin-left: 35vh;
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        left: -70px;
    }
    header nav .nav-bar-tabs ul li a {
        font-size: 25px;
    }
    .home .home-banner-heading .left-plan-img {
        display: none;
    }
    .home .home-banner-heading .ballon-bottom {
        display: none;
    }
    .home .home-banner-heading .left-plan-img2 {
        opacity: 1;
        visibility: visible;
        bottom: 0px;
        right: 10%;
        transform: rotate(-55deg);
    }
    .home .home-banner-heading .right-plan-img2 {
        opacity: 1;
        visibility: visible;
        top: -200px;
        left: 10%;
        transform: rotate(-72deg);
    }
}
@media only screen and (max-width: 516px) {
    header {
        top: 38px;
    }
    .top-header .top-header-left-section {
        display: none;
    }
    .top-header .day-night-mode {
        right: 25px;
    }
    /* .top-header  .day-night-mode{
        position: absolute;
        top: 10px;
        right: 20px;
    } */
}
@media only screen and (max-width: 512px) {
    header nav .nav-bar-tabs ul {
        margin-left: 28vh;
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        left: 0px;
    }
}
@media only screen and (max-width: 435px) {
    header nav .nav-bar-tabs ul {
        margin-left: 25vh;
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        left: 20px;
    }
    header nav .nav-bar-tabs ul li a {
        font-size: 25px;
    }
}
@media only screen and (max-width: 400px) {
    header nav .nav-social-icons ul {
        margin-right: 30px;
    }
    /* footer .footer-newslatter form button {
        left: 70%;
    } */
}
@media only screen and (max-width: 377px) {
    header {
        top: 38px;
    }
}

@media only screen and (max-width: 375px) {
    header nav .nav-bar-tabs ul {
        margin-left: 22vh;
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        left: 10px;
    }
    header nav .nav-bar-tabs ul li a {
        font-size: 20px;
    }
}

