$primary-bg-color: #175559;
$heading-primary-color: #0f383b;
$text-color: #175559;
$text-color2: #4d4d4d;
$button-bg-color: #fec407;

body {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
}

//  home section starts from here
.home {
    overflow: hidden;
    position: relative;
    padding-top: 40vh;
    height: 100vh;
    background: url(../../public/images/home-bg.svg);
    background-position: center;
    background-size: cover;
    .home-banner-heading {
        h1 {
            font-size: 40px;
            font-weight: bold;
            color: $heading-primary-color;
            line-height: 50px;
        }
        p {
            font-size: 18px;
            color: $primary-bg-color;
            margin-bottom: 40px;
        }
        a {
            background-color: $button-bg-color;
            padding: 12px 40px;
            color: $text-color;
            font-weight: bold;
        }
        .absolute-position {
            position: absolute;
            bottom: 300px;
            left: 100px;
            z-index: 9;
        }
        .left-plan-img {
            top: 305px;
            left: -7%;
            width: 90px;
            transform: translate(40%);
        }
        .ballon-left {
            top: 35px;
            left: 18%;
            width: 80px;
            transform: translate(100%);
        }
        .ballon-bottom {
            top: 40px;
            left: 30%;
            width: 80px;
            transform: translate(-100%);
        }
        .ellipse {
            top: 600px;
            left: 54%;
            width: 90px;
        }
        .tild-building {
            bottom: -6px;
            left: 55%;
            width: 110px;
            height: 100px;
        }
        .tower {
            bottom: -6px;
            left: 39%;
            width: 280px;
            height: 50px;
            transform: translate(100%);
        }
        .right-plan-img {
            top: 17%;
            left: 85%;
            width: 90px;
            transform: translate(100%);
        }
        .ballon-right {
            top: 3%;
            left: 85%;
            width: 90px;
            transform: translate(100%);
        }
        .wonders {
            bottom: -6px;
            left: 64%;
            width: 270px;
            height: 50px;
            -webkit-transform: translate(100%);
            transform: translate(100%);
        }
        .statue {
            bottom: -6px;
            left: 66%;
            width: 140px;
            height: 50px;
            transform: translate(100%);
        }
        .left-plan-img2 {
            width: 90px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 9;
        }
        .right-plan-img2 {
            width: 90px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 9;
        }
    }
}

// about us section starts from here
.about {
    padding-top: 50px;
    margin-bottom: 20px;
    .about-us-gif {
        img {
            max-width: 100%;
        }
    }
    .about-us-contant,
    .out-story-contant {
        h2 {
            color: $heading-primary-color;
            font-weight: bold;
        }
        p {
            text-align: justify;
            color: $text-color2;
            line-height: 28px;
        }
    }
}
// about us section ends from here

// facilities us section starts from here
.facilities {
    background-color: $heading-primary-color;
    padding: 60px 0px;
    .facilites-heading {
        padding-bottom: 30px;
        h2 {
            color: #fff;
            font-weight: bold;
        }
    }
    .facilitiy {
        position: relative;
        color: #fff;
        padding-left: 60px;
        margin-bottom: 40px;
        img {
            width: 40px;
            top: 0px;
            left: 0px;
            position: absolute;
        }
        h3 {
            font-size: 22px;
            font-weight: bold;
            display: inline-block;
            color: $button-bg-color;
        }
        p {
            line-height: 28px;
        }
    }
    .end-paragraph {
        p,
        a {
            color: #fff;
        }
    }
}
// facilities us section starts from here

// services us section starts from here
.services {
    background-color: #eee;
    padding-top: 20px;
    .services-heading {
        padding: 50px 0px;
        h2 {
            text-transform: uppercase;
            color: $heading-primary-color;
            font-weight: bold;
        }
    }
    .services-card {
        position: relative;
        top: 0px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 50px;
        padding: 20px 20px 20px 20px;
        transition: all 0.3s ease;
        .services-card-heading {
            display: flex;
            align-items: center;
            h3 {
                padding-left: 20px;
                text-align: left;
                font-size: 22px;
                font-weight: bold;
                color: $text-color2;
                position: relative;
                /* &::after {
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translate(-50%);
                    width: 100px;
                    background-color: $button-bg-color;
                    content: "";
                    height: 2px;
                } */
            }
            img {
                width: 100px;
            }
        }

        p {
            margin-top: 20px;
            padding: 0px 10px;
            overflow: hidden;
            height: 100px;
            color: $text-color;
            line-height: 26px;
            text-align: justify;
        }

        &:hover {
            transition: all 0.3s ease;
            top: -10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }
    }
}
// services us section starts from here

// features us section starts from here
.features {
    padding-top: 60px;
    .services-heading {
        margin-bottom: 40px;
        h2 {
            text-transform: uppercase;
            color: $heading-primary-color;
            font-weight: bold;
        }
    }
    .feature-list {
        ul {
            li {
                color: $text-color2;
                font-size: 16px;
                margin-bottom: 10px;
                i {
                    margin-right: 20px;
                    font-size: 20px;
                }
            }
        }
    }
    .feature-img {
        img {
            max-width: 100%;
            width: 80%;
            margin-top: -50px;
        }
    }
}
// features us section starts from here

// logs section starts from here
.logs {
    background-color: #eee;
    padding: 50px 0px;
    /* font-family: "Cinzel", serif; */
    .year-of-exprience,
    .countries,
    .universities,
    .students {
        text-align: center;
        .number {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        p {
            font-size: 16px;
        }
        .plus-icon {
            font-size: 30px;
        }
    }
}
// logs section ends from here

// countries section starts from here
.countries-we-served {
    margin-top: 80px;
    margin-bottom: 10px;
    .countries-we-served-heading {
        margin: 40px 0px;
        h2 {
            text-transform: uppercase;
            color: $heading-primary-color;
            font-weight: bold;
        }
    }

    .countries-img {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        .countries-flag {
            position: absolute;
            transition: all 0.4s ease;
            top: 100%;
            width: 100%;
            left: 0px;
            // opacity: .8;
            img {
                width: 100%;
            }
            h2 {
                text-transform: uppercase;
                position: absolute;
                color: #fff;
                text-shadow: 4px 4px 4px $primary-bg-color;
                font-weight: bold;
                opacity: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%);
            }
        }
        &:hover {
            .countries-flag {
                top: 0px;
                transition: all 0.4s ease;
            }
        }
    }
    .countries-img2 {
        .countries-flag {
            h2 {
                color: #fff;
            }
        }
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 25px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }
}
// countries section ends here

.avilable-in-countries {
    margin-bottom: 50px;
    margin-top: 80px;
    .details-about-countries {
        h2 {
            text-transform: uppercase;
            color: $text-color2;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 30px;
            position: relative;
            &::after {
                position: absolute;
                top: 40px;
                left: 0px;
                width: 150px;
                background-color: #fec407;
                content: "";
                height: 1px;
            }
        }
        p {
            height: 200px;
            overflow: hidden;
            color: $text-color2;
            line-height: 25px;
        }
        a {
            display: block;
            margin-bottom: 10px;
        }
    }
    .countries-img {
        img {
            width: 100%;
        }
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 50px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }
}

//  testimonails section starts from here
.testimonials {
    margin-top: 100px;
    padding: 50px 0px;
    background-color: #eee;
    .testimonials-heading {
        margin-bottom: 45px;
        h2 {
            color: $text-color2;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            &::after {
                position: absolute;
                top: 45px;
                left: 0px;
                width: 150px;
                background-color: #fec407;
                content: "";
                height: 1px;
            }
        }
    }
    .testimonial-card {
        position: relative;
        padding: 50px 20px 20px 20px;
        border: 1px solid rgb(180, 175, 175);
        border-radius: 10px;
        img {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 30px;
            border-radius: 50%;
        }
        .student-name {
            padding-left: 70px;
            color: $text-color2;
            font-weight: 600;
            height: auto;
        }
        span {
            display: inline-block;
            margin-top: 15px;
            /*   font-family: "Ubuntu", sans-serif; */
            font-weight: bold;
            color: $text-color2;
        }
        p {
            color: $text-color;
            line-height: 25px;
            overflow: hidden;
            height: 100px;
        }
        a {
            i {
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
    .owl-carousel .owl-nav {
        background-color: red;
        display: block;
        position: absolute;
        top: 100px;
        width: 100%;
        .owl-prev {
            font-weight: bolder;
            font-size: 20px;
            position: absolute;
            left: -50px;
            font-size: 30px;
        }
        .owl-next {
            font-weight: bolder;
            font-size: 20px;
            position: absolute;
            right: -50px;
            font-size: 30px;
        }
    }
}
//  testimonails section ends here

.policies {
    position: relative;
    margin-top: 100px;
    .testimonials-heading {
        margin-bottom: 30px;
        h2 {
            color: $text-color;
            font-size: 25px;
            font-weight: bold;
            position: relative;
        }
    }
    .points {
        padding-right: 40px;
        ul {
            li {
                position: relative;
                padding-left: 40px;
                font-size: 16px;
                color: $text-color2;
                line-height: 28px;
                margin-bottom: 20px;
                i {
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    color: $text-color2;
                    font-size: 20px;
                }
            }
        }
    }
    .policies-img {
        position: absolute;
        width: 380px;
        right: 0px;
        bottom: -100px;
        img {
            width: 100%;
        }
    }
}

.blog {
    margin-top: 100px;
    padding: 50px 0px;
    background-color: #eee;
    .blog-heading {
        margin-bottom: 45px;
        h2 {
            color: $text-color2;
            font-size: 25px;
            font-weight: bold;
            position: relative;
        }
    }
    .blog-card {
        background-color: $primary-bg-color;
        padding: 30px 20px 20px 20px;
        border-radius: 10px;
        color: #eee;
        span {
            font-size: 16px;
            color: #eee;
        }
        p {
            color: #eee;
            margin-top: 25px;
            margin-bottom: 0px;
            i {
                margin-right: 15px;
            }
        }
    }
    .owl-carousel .owl-nav {
        display: none;
        background-color: red;
        position: absolute;
        top: 50px;
        width: 100%;
        .owl-prev {
            font-weight: bolder;
            font-size: 20px;
            position: absolute;
            left: -50px;
            font-size: 30px;
        }
        .owl-next {
            font-weight: bolder;
            font-size: 20px;
            position: absolute;
            right: -50px;
            font-size: 30px;
        }
    }
}

.top-header .currency-exchange {
    display: none;
}
// media query
@media only screen and (max-width: 862px) {
    header {
        top: 60px;
    }
}
@media only screen and (max-width: 1200px) {
    .home {
        .home-banner-heading {
            h1 {
                font-size: 30px;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .home {
        .home-banner-heading {
            h1 {
                font-size: 30px;
            }
            .ballon-bottom {
                left: 45%;
            }
            .ellipse {
                top: 600px;
                left: 54%;
                width: 90px;
            }
            .tild-building {
                top: 95%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    header nav .website-logo a img {
        width: 100px;
    }
    header {
        top: 75px;
    }
    .home {
        .home-banner-heading {
            h1 {
                font-size: 30px;
            }
            .ballon-bottom {
                left: 55%;
            }
            .ellipse {
                display: none;
            }
            .statue {
                left: 50%;
            }
        }
    }
    header .top-header .top-header-right-section .login-details ul {
        justify-content: start;
    }
    header nav .nav-social-icons ul {
        margin-top: -60px;
        margin-left: 90px;
        justify-content: end;
        li a i {
            padding: 0 10px;
        }
    }
    header {
        nav {
            //103
            .nav-bar-tabs {
                position: absolute;
                top: 72px;
                right: -200px;
                z-index: 99999;
                background-color: $heading-primary-color;
                width: 200px;
                padding-bottom: 20px;
                // height: 500px;
                ul {
                    flex-direction: column;
                    li {
                        text-align: center;
                        margin-top: 20px;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    header nav .nav-bar-tabs ul .countries-tab:hover .countries-list {
        top: -70px;
        left: -150;
    }
    header nav .nav-bar-tabs ul .countries-tab .countries-list {
        left: -10%;
    }
    header nav .nav-bar-tabs ul li {
        margin-top: 10px;
    }
    .nav-sidebar-button,
    .nav-close-button {
        display: block;
    }
    .policies .policies-img {
        img {
            display: none;
        }
    }
    /* .countries-we-served {
        display: none;
    } */
    footer .bottom-footer .rights p {
        text-align: center;
    }
}

@media only screen and (max-width: 567px) {
    header nav .website-logo a img {
        width: 100px;
    }
    .home .home-banner-heading h1 {
        font-size: 25px;
        br {
            display: none;
        }
    }
    .footer-connecting-links,
    .footer-contact-address,
    .footer-newslatter {
        margin-top: 30px;
    }
    .home {
        .tild-building {
            display: none;
        }
        .tower {
            display: none;
        }
        .wonders {
            display: none;
        }
        .statue {
            display: none;
        }
    }
    header nav .nav-social-icons ul {
        margin-top: -60px;
        margin-right: 100px;
    }
    .home .home-banner-heading .ballon-bottom {
        left: 90%;
    }
}
@media only screen and (max-width: 516px) {
    header {
        top: 38px;
    }
    .top-header .top-header-left-section {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    header nav .nav-social-icons ul {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 377px) {
    header {
        top: 60px;
    }
}

@media only screen and (max-width: 1100px) {
    .services .services-card .services-card-heading {
        h3 {
            padding-left: 15px;
        }
        img {
            width: 70px;
        }
    }
}
